<h1><%= t('links.login') %></h1>

<%= simple_form_for :sessions do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>

  <%= f.submit t('links.login'), class: 'btn btn-primary' %>
  <%= link_to t('links.sign_up'), signup_path, class: "btn btn-secondary" %>
<% end %>