<h1>New Task</h1>
<%= form_for @task do |f| %>
  <fieldset class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :description %>
    <%= f.hidden_field :description %>
  </fieldset>

  <div id="editor"># Hello markdown</div>

  <fieldset class="form-group">
    <%= f.label :score %>
    <%= f.text_field :score, type: "number", class: "form-control"  %>
  </fieldset>

  <%= f.submit "Submit", id: "new-task", class: "btn btn-primary" %>
<% end %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>