<h1><%= @task.title %></h1>

<%= markdown(@task.description) %>

<%= simple_form_for @solution, remote: true do |f| %>
  <%= f.association :task, input_html: { hidden: true }, label: false %>

  <%= render 'partials/editor', editable: false, f: f %>

  <%= f.hidden_field :run, value: true %>

  <%= f.button :submit, 'Save', id: 'save-solution', class: 'btn-primary' %>
  <%= f.button :submit, 'Run', id: 'run-solution', class: 'btn-success' %>
<% end %>


<div class="row">
  <div class="col-md-6">
    <h5>Input</h5>
    <%# f.input :stdin, placeholder: @task.stdin %>
    <pre id="stdint" class="pre-scrollable log"></pre>
  </div>
  <div class="col-md-6">
    <h5>Output</h5>
    <pre id="stdout" class="pre-scrollable log"></pre>
  </div>  
</div>

<h5>Errors</h5>
<pre id="compiler_message" class="pre-scrollable log"></pre>

<% content_for :sidebar do %>
  <h3>Info</h3>
  <p>Score: <%= @task.score %></p>

  <h3>Program</h3>

  <% if @solution.persisted? %>
    <p>Last saved: <%= @solution.updated_at %></p>
    <%= link_to 'Lösung löschen', solution_path(@solution), class: 'btn btn-danger', method: "delete", data: {confirm: 'Bist du sicher?' }%>
  <% end %>

<% end %>