<h1><%= @task.title %></h1>

<%= markdown(@task.description) %>

<%= simple_form_for @solution do |f| %>
  <%= f.association :task, input_html: { hidden: true }, label: false %>

  <%= render 'partials/editor', editable: false, f: f %>

  <%= f.button :submit, class: 'btn-primary', id: 'save-solution' %>

  <% content_for :sidebar do %>
    <h4>Info</h4>
    <p>Score: <%= @task.score %></p>

    <h4>Program</h4>

    <% if @solution.persisted? %>
      <p>Last saved: <%= @solution.updated_at %></p>
      <%= link_to 'Lösung löschen', solution_path(@solution), class: 'btn btn-danger', method: "delete", data: {confirm: 'Bist du sicher?' }%>
    <% end %>

    <div id="run" class="btn btn-secondary">Run</div>
  <% end %>
<% end %>