<h1><%= generate_title @task %></h1>

<%= form_for @task do |f| %>
  <fieldset class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :description %>
    <%= f.hidden_field :description %>
  </fieldset>

  <div id="editor"><%= @task.description %></div>

  <fieldset class="form-group">
    <%= f.label :score %>
    <%= f.number_field :score, class: "form-control"  %>
  </fieldset>

  <h2>Scaffold</h2>
  <ul class="nav nav-tabs">
    <%= f.fields_for :class_files do |file| %>
      <li class="nav-item">
        <%= file.label :filename %>
        <%= file.text_field :filename %>
 
        <%= file.label :code %>
        <%= file.text_area :code %>
      </li>
    <% end %>
  </ul>
  <%= f.submit id: "new-task", class: "btn btn-primary" %>
<% end %>