<%= simple_form_for @task do |f| %>
  <%= f.input :title %>
  <%= f.hidden_field :description, id: 'editor_description_code' %>
  <%= f.input :score %>

  <%= f.label :description %>
  <div id="editor_description"><%= @task.description %></div>
  
  <h2>Scaffold</h2>

  <%= render 'partials/editor', editable: true, f: f %>

  <%= f.submit class: 'btn btn-primary', id: 'add-class-file' %>
<% end %>