<h2><%= t('headlines.new_user') %></h2>
<%= simple_form_for @user do |f| %>

  <% if @user.errors.any? %>
    <ul class="alert alert-danger" role="alert">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  
  <%= f.submit t('links.sign_up'), class: "btn btn-primary" %>
  <%= link_to t('actions.cancel'), root_path, class: "btn btn-secondary" %>
<% end %>