<!DOCTYPE html>
<html>
<%= render 'partials/header' %>
<body class="<%= controller_name %> <%= action_name %>">
  <%= render 'partials/navbar', flash: flash %>

  <%= render 'partials/notifications' %>

  <div class="container">
    <%= content_for?(:root) ? yield(:root) : yield %>
  </div>

  <%= render 'partials/footer' %>
</body>
</html>
